/* buttons.css */
button {
    font-family: 'Nunito Sans', sans-serif;
    background-color: #d10000;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
  }
  
  button:hover {
    background-color: #b00000;
  }
  